<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome, <%= @todo.title %></h3>
    <br/><br/>
      You have successfully created a TO-DO in TheOne.com,<br/><br/>
      Your TO-DO is : <br/><br/><%= @todo.notes %><br/>
    <p>
      To login to the site, just follow this link: theone.com
    </p><br/><br/>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>